* {
	--padding-top: 10vh;
}

.player-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-start;
	min-height: 200vh;
	width: 100%;
	padding-top: var(--padding-top);
}

canvas.video-canvas {
	position: absolute;
	top: calc(30% - var(--padding-top));
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: .8rem;
	filter: blur(13rem);
	opacity: .55;
}

video.video-in {
	display: flex;
	position: relative;
	height: 75vh;
	aspect-ratio: 16 / 9;
	border-radius: 1.6rem;
	border: none;
}