/** Zero CSS Styles */
*,
*::after,
*::before {
	min-width: 0;
	min-height: 0;
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	outline: 0;

	text-decoration: none;
	color: inherit;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
}

li,
ol,
ul {
	list-style: none;
}

html,
body {
	min-width: 100%;
	min-height: 100vh;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 1;

	-webkit-transition: background-color 1.6s 0.4s ease;
	-moz-transition: background-color 1.6s 0.4s ease;
	-o-transition: background-color 1.6s 0.4s ease;
	transition: background-color 1.6s 0.4s ease;
}

html {
	background-color: rgba(0, 0, 0, 1);

	scroll-behavior: smooth;
}

body {
	background-color: rgba(0, 0, 0, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	-webkit-transition: color 1.6s .5s ease;
	-moz-transition: color 1.6s .5s ease;
	-o-transition: color 1.6s .5s ease;
	transition: color 1.6s .5s ease;
}

/*? Page Wrapper */
.page-wrapper {
	width: 100%;
	min-height: 150vh;

	background-color: rgb(0, 0, 0);

	-webkit-transition: background-color 1.6s 0.4s ease;
	-moz-transition: background-color 1.6s 0.4s ease;
	-o-transition: background-color 1.6s 0.4s ease;
	transition: background-color 1.6s 0.4s ease;
}

/*? Media Frames */